.chat {
    // --bg-chat-img: url('../../assets/bg-chat-theme-light.png');
}
.theme-dark {
    // --bg-chat-img: url('../../assets/bg-chat-theme-dark.png');
}

.chat-container {
    display: flex;
    border: 1px solid black;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    max-height: 70vh;
    border-radius: var(--radius);
    background-color: var(--background);
}

.chat__aside {
    width: 20%;
}

.chat__box {
    // border: 1px solid black;
    width: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-image: var(--bg-chat-img);
    // background:linear-gradient(0deg, var(--background), var(--background)), var(--bg-chat-img);
}


.message__container--left {
    justify-content: flex-start;
}
.message__container--right {
    justify-content: flex-end;
}

.message--left {
    border-radius: 0 20px 20px 20px;
    background-color: var(--clr-primary);
}
.message--right {
    border-radius: 20px 0 20px 20px;
    background-color: var(--clr-accent);
}

.message__container {
    display: flex;
}

.chat__message {
    border: 1px solid black;
    padding: .5em 1em;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: .3em;
    

    .message__user {
        font-weight: bold;
        font-family: var(--font-title);
    }
    .message__content {
        padding: 0 .3em;
    }
    .message__timespan {
        font-size: .7rem;
        opacity: .75;
    }
}


.message-blue {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 0.9em "Open Sans", sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .message-blue:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
  }
  .message-blue:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
  }
  .message-timestamp-right {
    position: absolute;
    font-size: 0.85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
  }
  .message-timestamp-left {
    position: absolute;
    font-size: 0.85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
  }